<!DOCTYPE html />
<html>
<head>
	{% block head %}
	<meta charset="UTF-8" />

	<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

	<!-- make the viewport width equal to the device's native width -->
	<!-- really just boilerplate for pure css -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- CSS -->
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pure/base-min.css" type="text/css" />
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pure/grids-responsive-old-ie-min.css" type="text/css" />
	<![endif]-->
	<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pure/grids-responsive-min.css" type="text/css" />
	<!--<![endif]-->

	{% endblock head %}
</head>

<body>

	<nav><ul>

		{% for page in all_pages %}
			<li>
				<a href="{{ site_url }}/page/{{ page.title }}">{{ page.title }}</a>
			</li>
		{% endfor %}

	</ul></nav>

	<header id="banner">
		<h1><a href="{{ site_url }}">{{ site_title }}</a></h1>
		<h2>{{ site_subtitle }}</h2>
	</header>

	<section class="content">
		{% block content %}
		{% endblock %}
	</section>

	<footer>

		<section id="license">
			This work is licensed under a 
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
			Creative Commons Attribution-ShareAlike 4.0 International License
			</a>.
		</section>

		<section id="tools">
			Powered by <a href="https://getstatik.com/">Statik</a>.
			<a href="http://github.com/non-Jedi/statik_blog">
				Theme and content
			</a> by 
			<a href="http://adam.thebeckmeyers.xyz">Adam Beckmeyer</a>.
		</section>

	</footer>


</body>
</html>
