{% extends "base.html" %}

{% block html_tag %}<html class="h-feed">{% endblock html_tag %}

{% block title %}<title class="p-name">
	{% if page_title %}
	{{ page_title }}
	{% else %}
	{{ site_author.first_name }} {{ site_author.last_name }}
	{% endif %}
</title>{% endblock title %}

{% block content %}

{% for each_post in post_range %}
{% if each_post.is_note %}
	<article class="h-entry note">
{% else %}
	<article class="h-entry article">
		<h3 class="p-name">{{ each_post.title }}</h3>
{% endif %}
		<div class="e-content">{{ each_post.content }}</div>
		<aside>
			<ul>
				<li class="p-author"><a href="{{ each_post.author.url }}">{{ each_post.author.first_name }}</a></li>
				<li class="u-url"><a href="{{ site_url }}/{{ each_post.published|date("%Y/%m/%d") }}/{{ each_post.content[3:24] }}">permalink</a></li>
				<li class="dt-published">{{ each_post.published|date("%Y/%m/%d") }}</li>
			</ul>
		</aside>
	</article>
{% endfor %}

<div class="pages">
{% if home_page %}
<a href="{{ site_url + pre_page_string }}/page/2">&gt;</a>
{% else %}
{% if post_range.number != 1 %}
<a href="{{ site_url + pre_page_string }}/page/{{ post_range.number - 1 }}">&lt;</a>
{% endif %}
{% if post_range.number < post_range.total_pages %}
<a href="{{ site_url + pre_page_string }}/page/{{ post_range.number + 1 }}">&gt;</a>
{% endif %}
{% endif %}

</div>

{% endblock content %}
