{% extends "base.html" %}

{% block html_tag %}<html class="h-feed" lang="en">{% endblock html_tag %}

{% block title %}
<title class="p-name">
	{% if page_title %}
	{{ page_title }}
	{% else %}
	{{ site_author.first_name }} {{ site_author.last_name }}
	{% endif %}
</title>
{% endblock title %}

{% block content %}

{% for each_post in post_range %}
{% if each_post.is_note %}
	<article class="h-entry note">
		<div class="e-content p-name">{{ each_post.content }}</div>
{% else %}
	<article class="h-entry article">
		<h3 class="p-name">{{ each_post.title }}</h3>
		<div class="e-content">{{ each_post.content }}</div>
{% endif %}
		<footer>
			<ul>
				<li class="p-author h-card"><a href="{{ each_post.author.url }}">{{ each_post.author.first_name }}</a></li>
				<li class="u-url"><a href="{% url "post", each_post %}">permalink</a></li>
				<li class="dt-published">
					<time datetime="{{ each_post.published|date("%Y-%m-%dT%H:%M%z") }}">
						{{ each_post.published|date("%Y/%m/%d") }}
					</time>
				</li>
			</ul>
		</footer>
	</article>
{% endfor %}

<div class="pagination">
	{% if home_page and num_posts > 25 %}
	<a rel="next" href="{{ site_url + pre_page_string }}/page/2">&gt;</a>
	{% elif not home_page %}
	{% if post_range.number != 1 %}
	<a rel="prev" href="{{ site_url + pre_page_string }}/page/{{ post_range.number - 1 }}">&lt;</a>
	{% endif %}
	{% if post_range.number < post_range.total_pages %}
	<a rel="next" href="{{ site_url + pre_page_string }}/page/{{ post_range.number + 1 }}">&gt;</a>
	{% endif %}
	{% endif %}
</div>

{% endblock content %}
